div
  ns-field(
    for="title"
    :error="titleErrors[0]"
    :label="$t('post_form.title')")
    ns-input(id="title" v-model="title")
  ns-field(
    for="content"
    :error="contentErrors[0]"
    :label="$t('post_form.content')")
    ns-input(id="content" v-model="content" type="textarea")

  ns-field(
    for="image"
    :label="$t('post_form.image')")
    ns-input-file(id="file"
      :preview="true"
      :preview-box="true"
      preview-width="320px"
      preview-height="150px"
      placeholder="Selecciona o arrastra una imagen"
      :enable-drop="true"
      :enable-paste="true"
      paste-placeholder="Pega con Ctrl-V"
      v-model="image")
